<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{{ page_title }}{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}		

		{% block javascripts_two %}
			{{ encore_entry_script_tags('navbar') }}
		{% endblock %}
	</head>
	<header>
		{% include "./components/nav.html.twig" %}
	</header>

	<body>
		<div class="divide"></div>
		<h1> {% block pagetitle %}{% endblock %} </h1>
	</body>
</html>
