    <nav>
      <a href="/" class="nav-icon" aria-label="homepage" aria-current="page">
        <img src="{{ asset('./img/Babarcar.png') }}" alt="chat icon" />
      </a>

      <div class="main-navlinks">
        <button type="button" class="hamburger"  aria-label="Toggle Navigation" aria-expanded="false">
            <span></span>
            <span></span>
            <span></span>
          </button>
        <div class="navlinks-container">
          <a href="#">Covoiturage</a>
          <a href="#">Bus</a>
          <a href="#">Covoiturage du quotidien</a>
        </div>
      </div>

      <div class="nav-authentication">
        <a href="#" class="user-toggler" aria-label="Sign in page">
          <img src="ressources/user.svg" alt="user icon" />
        </a>
        <div class="sign-btns">
          <button type="button">Sign In</button>
          <button type="button">Sign Up</button>
        </div>
      </div>
    </nav>
